header {
    display: flex;
    justify-content: space-between;
}
header h1,
h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 52px;
}
h2 {
    font-size: 25px;
}
.location {
    font-size: 30px;
    color: #ffffff;
}
